<div>
  <p>Argumentos de entrada: <strong>{{argvs}}</strong></p>
  <p>Nombre de la plataforma (sistema operativo): <b>{{platform}}</b></p>
  <p>Versión de node.js: <strong>{{nodeVersion}}</strong></p>
  <p>Memoria total reservada (rss): <b>{{memory}}</b></p>
  <p>Path de ejecución: <strong>{{pathEject}}</strong></p>
  <p>Process id: <strong>{{id}}</strong></p>
  <p>Carpeta del proyecto: <strong>{{pathProject}}</strong></p>
</div>